fastapi
uvicorn
pydantic
python-dotenv
httpx
requests 
livekit-agents[openai, silero, elevenlabs,groq,anthropic,google]
python-dotenv
httpx
ipython
google-generativeai
livekit-agents[google]
livekit-plugins-noise-cancellation
serpapi
aiohttp
sqlalchemy
spotipy
lyricsgenius

python-multipart
Pillow
yt-dlp0


